body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  background-color: black; /* Set background to black */
  color: white; /* Set text color to white */
}

/* Add a common style for all quote divs */
#darth-quote,
#luke-quote {
  font-size: 12px;
  font-style: italic; /* Make text italic */
  margin-top: 20px; /* Add margin before each quote */
}
